<li>
	{{burger_name}}
	<button class="devour-it" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="devour-it" data-id="{{this.id}}">Devour it!</button>
</li>